# Working directory for the Streamlit application
WORKDIR_PATH=/var/www/cba-streamlit-ui

# Example environment variables for Streamlit configuration
STREAMLIT_PORT=8501

# URL for the Agent API
AGENT_API_BASE_URL=http://agent-api:8000
